oprofile_data
spectrumdistributor
build
builddir
html
html-worker
extras
jsdsp/CMSIS_5
jsdsp/libfoxenflac
subprojects/tomlplusplus
subprojects/tomlplusplus-3.2.0
modules

node_modules/
.vscode
.cache

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
